html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.board {
    overflow: scroll;
    scroll-behavior: auto;
}

.scroll-board {
    min-width: 936px;
}

.board .card-header {
    color: #4EA8DE;
}

.board .btn.create-task.placeholder {
    visibility: hidden;
}

.card {
    background-color: #262626;
}

.card-body {
    padding: 22px 30px;
    cursor: pointer;
}

.btn.edit {
    border: none;
}

.btn.edit:active {
    border: none;
}

.modal-body [class*="col"]:hover {
    background-color: rgba(55, 53, 47, 0.5);
    border-radius: 0.25rem;
    transition: 0.3s ease-in-out;
}

.modal-body .flex-column:hover {
    background-color: inherit;
    border-radius: inherit;
}

#inputTitle {
    font-size: 28px;
    font-weight: 700;
}

/* Card Color */
.board .card.warning {
    background-color: #997404;
    border-color: #FFDA69;
}
.board .card.danger {
    background-color: #792C33;
    border-color: #EA868F;
}
.card.warning .subject,
.card.danger .subject
{
    background-color: #DBDBDB;
    color: #6B6B6B;
}

/* Subject Color */
.subject.none {
    background-color: #343a40;
}
.subject.ppl,
.subject.pppl {
    background-color: #9B7CAE;
}
.subject.kj,
.subject.pkj {
    background-color: #D87070;
}
.subject.pmp {
    background-color: #7AA373;
}
.subject.dw {
    background-color: #7270D8;
}

