html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.board {
    overflow: scroll;
    scroll-behavior: auto;
}

.scroll-board {
    min-width: 936px;
}

.board .card-header {
    color: #4EA8DE;
}