#drag-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 4rem;
  box-sizing: border-box;
  justify-content: center;
  overflow: auto;
}

.list {
  border-radius: 3px;
  box-sizing: border-box;
}

.list:not(:last-child) {
  padding-right: 42px;    
}

.list .card {
  width: 340px;
}

#drag-container .draggingContainer .drag-card {
  width: 340px;
  border-radius: 5px;
  margin-bottom: 15px;
}

#drag-container .draggingContainer .drag-card.dragging {
  opacity: 0.4;
}

#drag-container .draggingContainer .drag-card .title {
  font-weight: bold;
  margin-bottom: 10px;
}
